@font-face {
    font-family: 'ZX Spectrum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/zx-spectrum.ttf) format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #535353;
    font-family: 'ZX Spectrum', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 4vmin, 2rem);
    letter-spacing: 0.2em;
}

.world {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
}

.score-container {
    text-align: right;
    position: absolute;
    right: 5vmin;
    top: 1vmin;
}

.high-score {
    opacity: 0.5;
}

.start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}

